<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BonusProje1.Properties.Settings.BonusOkulConnectionString"
            connectionString="Data Source=DESKTOP-1C38CAO\SQLEXPRESS01;Initial Catalog=BonusOkul;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>